header {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  /*background: #202125;
  color: white;*/
}

p {
  line-height: 1.5;
}

main {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

/* Inputs */

input,
textarea {
  height: 50px;
  padding: 0 16px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  border: none;
  color:  red;
}

input:focus,
textarea:focus {
  outline: none;
}

/* Slide Show */
.slideshow-container {
  padding-top: 90px;
  max-width: 1690px;
  height: 770px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #202125;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 5px;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 5px;
}
.prev {
  left: 0;
  border-radius: 5px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-decoration: none;
}

.slide_text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  margin-top: 10px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Search Box */

#searchbox {
  position: fixed;
  right: 0;
  width: 370px;
  pointer-events: none;
  z-index: 50;
  transition: 0.4s;
  box-shadow:  6px 6px 18px -4px rgb(120, 120, 120);
}

#searchbox input {
  height: 50px;
  width: 100%;
}

/* Navigation */

nav {
  height: 75px;
  background: white;
  width: 100%;
  margin: 0;
  position: fixed;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px 0 0;
  box-sizing: border-box;
  box-shadow: 3px 5px 5px rgb(180, 180, 180);
  z-index: 100;
}

nav a {
  padding: 0 30px;
  color: #202125;
  transition: 0.25s;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
  background: #313688;

}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
}

#logo-img {
  display: flex;
  height: 100%;
  padding: 0 32px;
  align-items: center;
}

#logo-img img {
  height: 75px;
}

#menu-icon {
  height: 100%;
  font-size: 28px;
  padding: 0 4px;
  color: #eee;
  display: none;
  align-items: center;
}

/* Search Icon */

#search-icon {
  color: #202125;
  padding: 0 32px;
  cursor: pointer;
  transition: 0.2s;
}

#search-icon:hover {
  color: white;
  background: #313688;
}

/* Slideout Menu */

#slideout-menu {
  display: none;
  background: #2d3436;
  z-index: 100;
  position: fixed;
  transition: 0.4s;
  width: 100%;
  text-align: center;
  opacity:0;
  pointer-events:none;
}

#slideout-menu ul {
  list-style: none;
  padding: 0 32px;
}

#slideout-menu ul li {
  padding: 8px;
}

#slideout-menu a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: white;
}

#slideout-menu input {
  width: 85%;
  padding: 8px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-align: center;
}

/* Sections */

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.section-heading {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  border-left: 3px solid black;
  border-right: 3px solid black;
  transition: all 0.4s;
  display: inline-block;
  padding: 4px 32px;
}

.section-heading:hover {
  padding: 4px 48px;
  background: red;
}

/* Section Source */

#section-source p {
  padding: 8px;
  text-align: center;
}

#section-source a {
  margin: 8px;
  text-align: center;
}

/* Card */

.card-image {
  transition: 0.4s;
}

.card-image:hover {
  box-shadow: 0 10px 6px -6px #777;
}

.card .card-description {
  padding: 0 8px;
}

.card-meta-blogpost{
  color:#333;
  font-size:14px;
  padding: 16px;
  font-family:'Roboto Slab', serif;
}

.card-meta-blogpost a{
  color:#333;
}

/* Button Read more */

.btn-readmore {
  padding: 8px 24px;
  border: 3px solid black;
  transition: 0.4s;
  display: inline-block;
  margin-bottom: 24px;
  margin-left: 24px;
  font-weight: bold;
  cursor: pointer;
  background: white;
}

.btn-readmore:hover {
  background: red;
  text-decoration: none;
  padding: 8px 64px 8px 24px;
  color: white;
}

/* Footer */

footer {
  background: black;
  padding: 8px;
  color: #eee;
  display: flex;
}

footer a {
  color: white;
}

footer #left-footer {
  flex: 1;
  border-right: 1px solid red;
  padding-left: 32px;
}

footer #left-footer ul {
  padding: 0;
  list-style: none;
  line-height: 1.5;
}

footer #right-footer {
  flex: 2;
  padding: 8px;
  text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github {
  color: white;
  transition: 0.4s;
}

footer #social-media-footer ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}

footer #social-media-footer ul li {
  font-size: 48px;
  padding: 16px;
  transition: 0.4s;
}

footer #social-media-footer ul li:hover a .fa-youtube {
  color: red;
}

footer #social-media-footer ul li:hover a .fa-facebook {
  color: #3b5998;
}

footer #social-media-footer ul li:hover a .fa-github {
  color: #bbb;
}

/* Blog List page */

.page-heading{
  font-size:32px;
  font-family:'Roboto Condensed', sans-serif;
  border-left:3px solid black;
  border-right:3px solid black;
  transition: all 0.4s;
  display:inline-block;
  padding:4px 32px;
  margin-top: 120px;
}

.page-heading:hover{
  padding:4px 48px;
  background:red;
}

.card-meta{
  color:#333;
  font-size: 14px;
  padding-left:8px;
  font-family:'Roboto Slab', serif;
}

.card-meta a{
  color:#333;
}

/* Pagination */

.pagination{
  padding:8px;
  text-align:center;
  font-weight:bold;
}

.pagination a{
  border-top: 3px solid white;
  display: inline-block;
  padding:8px 16px;
  transition:0.4s;
}

.pagination a:hover{
  text-decoration: none;
  border-top:3px solid black;
}

/* Single Blogpost */

#post-container{
  display: flex;
}

#blogpost{
  display: flex;
  flex-direction:column;
  width:70%;
  border-left:1px solid #999;
}

#blogpost .card{
  width:100%;
}

#blogpost .card-image:hover{
  box-shadow: none;
}

/* Sidebar */

#sidebar{
  background:#333;
  flex:1;
  padding: 8px 16px;
  color:white;
  box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}

/* Comments section */

#comments-section{
  border-top: 2px solid #eee;
  padding:8px;
}


/* Media Queries */

@media (max-width: 900px) {
  nav ul {
    display: none;
  }

  #menu-icon {
    display: flex;
  }

  #slideout-menu {
    display: block;
  }

  #searchbox {
    display: none;
  }

  #blogpost{
    width:100%;
    border-left:0;
  }

  #sidebar{
    display: none;
  }
}

@media (max-width: 719px) {
  main {
    width: 95%;
  }

  section {
    flex-direction: column;
  }

  .card,
  .card .card-image img {
    width: 100%;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  footer #left-footer {
    flex: 1;
    border-right: 0;
    padding-left: 0;
  }

  footer #right-footer {
    background: #eee;
    color: black;
  }

  footer #right-footer a {
    color: black;
  }

  footer #social-media-footer a .fa-facebook,
  footer #social-media-footer a .fa-youtube,
  footer #social-media-footer a .fa-github {
    color: black;
    transition: 0.4s;
  }
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  h1 {
    font-size: 48px;
  }

  #banner h3 {
    font-size: 20px;
  }

  .card {
    text-align: center;
  }
}

@media (min-width: 720px) {
  main {
    width: 95%;
  }
  .card {
    width: 45%;
  }
  .card .card-image img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  main {
    width: 85%;
  }
}
